@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}


@media (min-width: 1024px) {
  /* body {
    padding: 2rem;
  } */
}

@media (max-width: 1400px) {
  body {
    padding-left: 60px;
  }
}